*{
  margin: 0;
  padding: 0;
}

/* colori
font blu:#33475b;
bottoni arancioni:#fe775a;
blu footer: #32495b;
azzurro lente ''cerca'': #00a4bd;
bianco di sfondo: #f4f9fd;
 */

 /* vertical al */

body{
  font-family: 'Roboto', sans-serif;
}

/* <!-- intestazione --> */
.navtop{
  background-color: #f4f9fd;
  line-height: 70px;
}

.contain{
  width: 70%;
  margin: 0 auto;
}

.menuleft{
  float: left;
}
.menuright{
  float: right;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.lingua{
  position: absolute;
  left: 0;
  bottom: 40%;
}

.ricerca{
  position: absolute;
  right: 0;
  bottom: 20%;
  float: left;
}

nav ul li{
  display: inline-block;
  font-size: 13px;
  float: left;
  margin: 0 1em;
}

.contain .menuleft a{
  text-decoration: none;
  color: #33475b;
}

.lente{
  color:#00a4bd;
}

 button {
  border: none;
  border-radius: 4px;
  padding: 8px;
}

.login{
  background-color:#f4f9fd;
  text-decoration: none;
  color: #33475b;
  border-radius: 4px;
  border: 1px solid #fe775a;
  border-color: #fe775a;
}

.login a{
  text-decoration: none;
  color: red;
}

.gethub{
  background-color: #fe775a;
}

/* <!-- corpo del sito --> */

/* <!-- piè di pagina --> */
