*{
  margin: 0;
  padding: 0;
}

/* colori
font blu:#33475b;
bottoni arancioni:#fe775a;
blu footer: #32495b;
azzurro lente ''cerca'': #00a4bd;
bianco di sfondo: #f4f9fd;
rosino imm jumbotron: #fff4ef;
 */


body {
  font-family: 'Roboto', sans-serif;
}

/* <!-- intestazione --> -----------------------------------*/
.navtop{
  background-color: #f4f9fd;
  line-height: 70px;
  border-bottom: 1px solid #33475b;
}

.contain{
  width: 70%;
  margin: 0 auto;
}

.menuleft{
  float: left;
}


.menuright{
  float: right;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.lingua{
  position: absolute;
  left: 0;
  bottom: 40%;
}

.ricerca{
  position: absolute;
  right: 0;
  bottom: 20%;
  float: left;
}

nav ul li{
  display: inline-block;
  font-size: 13px;
  float: left;
  margin: 0 1em;
}

.contain .menuleft a{
  text-decoration: none;
  color: #33475b;
}

.lente{
  color:#00a4bd;
}

button {
  border: none;
  border-radius: 4px;
  padding: 8px;
}

.login{
  background-color:#f4f9fd;
  text-decoration: none;
  color: #33475b;
  border-radius: 4px;
  border: 1px solid #fe775a;
  border-color: #fe775a;
}

.login a{
  text-decoration: none;
  color: #fe775a;
}

.gethub{
  background-color: #fe775a;
  color: white;
}

.gethub a{
  background-color: #fe775a;
  text-decoration: none;
  color: white;
}

/* navigazione bootton -------------------------------*/

.navbottom{
  width: 70%;
  margin: 0 auto;
  line-height: 30px;
  padding: 20px;
}

.navbottomright{
  float: right;
}

.navbottomright a{
  text-decoration: none;
  color: #33475b;
}

#logo{
  float: left;
}

/* <!-- corpo del sito  1' parte -->---------------------------------- */


.jumbotron{
  width: 70%;
  margin: 0 auto;
  line-height: 70px;
}

.containjumbotron {
  background-color: #fff4ef;
  background-image: url("../img/jumbotron.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  width: 100%;
}

.textjumbotron{
  width: 50%;
  float: left;
  padding: 40px 0 40px;
  line-height: 1.6;
  color:#33475b;
}

.textjumbotron button{
  margin: 10px 0 10px;
  padding: 20px;
}

  /* <!-- corpo del sito 2' parte----------> */

.contenuto1{
  background-color: #f4f9fd;
}

.descizione{
  width: 70%;
  text-align: center;
  margin: 0 auto;
  color:#33475b;
  line-height: 1.6;
  padding: 40px 0 40px;
}

.descizione img{
  width: 20%;
  height: auto;
}
/* <!-- corpo del sito 3' parte-----------> */

.contenuto2{
  background-color: #f4f9fd;
  padding-bottom: 10px;
}

.box{
  width: 70%;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px  2px 2px #dedede,
              -2px -2px 2px #dedede,
               2px -2px 2px #dedede,
              -2px  2px 2px #dedede;
}

.boxleft{
  width: 30%;
  text-align: center;
  float: left;
}

.boxleft img{
  width: 40%;
  height: auto;
  margin-top: 30px;
}

.boxleft button{
  height: auto;
  padding: 15px 30px 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.boxright{
  width: 65%;
  padding: 40px 0 40px;
  text-align: left;
  float: right;
  color:#33475b;
  line-height: 1.6;
  margin-right: 3%;
}

.boxright ul li{
  display: inline-block;
  margin-right: 20px;
}

ul li .orange{
  color: #fe775a;
}

.boxright h3 span{
  border-top: 1px solid #33475b;
  width: 5px;
}

.contenuto2 span hr{
  width: 40%;
  height: auto;
  border-top: 1px solid lightgrey;
  float: right;
  margin-right: 20%;
  margin-top: 3%;

}

/* <!-- corpo del sito 4' parte---------------------> */

.contenuto3{
  background-color: #f4f9fd;
  padding-top: 40px;
  padding-bottom: 50px;
}

.contan{
  width: 70%;
  height: auto;
  margin: 0 auto;
}

.colonna {
  width: 30%;
  text-align: center;
  float: left;
  color:#33475b;
  line-height: 1.6;
}

.colonna ul li{
  margin-right: 20px;
  list-style-type: none;
  text-align: left;
  margin: 10px 20%;
}

.colonna h3{
  padding-top: 20px;
}

.colonna p{
  margin: 10px 10%;
}

.contenuto3 button{
  height: auto;
  padding: 15px 30px 15px;
  margin-top: 10px;
  margin-bottom: 10%;
}

.contenuto3 span hr{
  width: 20%;
  height: auto;
  border-top: 1px solid lightgrey;
  text-align: center;
  margin: 0 40%;
}

/*  colonno sinistra */

.clleft img{
  width: 20%;
  height: auto;
  margin-top: 30px;
}

/*  colonno centrale */

.cllcenter img{
  width: 25%;
  height: auto;
  margin-top: 30px;
}

.cllcenter{
  margin: 0 5%;
}

/* colonna destre */

.cllright{
  float: right;
}

.cllright img{
  width: 19%;
  height: auto;
  margin-top: 30px;
}

/* <!-- corpo del sito 5' parte-------------------------> */
#headband {
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  color: white;
  padding-top: 3%;
  padding-bottom: 3%;

}

.headbandescrition{
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

/* .headbandescrition p{
  padding-top: 2%;
  line-height: 1.5;
  padding-bottom: 2%;
} */


.headbandtable{
  margin: 5% 0;
}

.cella{
  width: calc(100% / 4 - 0%);
  height: auto;
  float: left;
  padding: 2% 0;
  box-sizing: border-box;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.headbandtable :nth-child(4){
  border-right: none;
}
.headbandtable :nth-child(8){
  border-right: none;
}
.headbandtable :nth-child(5){
  border-bottom: none;
}
.headbandtable :nth-child(6){
  border-bottom: none;
}
.headbandtable :nth-child(7){
  border-bottom: none;
}
.headbandtable :nth-child(8){
  border-bottom: none;
}

.cella img{
  height: 30px;
  margin-bottom: 5%;
}

.cella span{
  display:block;
}

.voce{
  font-size: 40px;
}
.cella span:last-child{
  font-size: 12px;
}

/* <!-- corpo del sito 6' parte------------------> */
.contenuto4{
  background-color: #f4f9fd;
}

.boxx{
  width: 70%;
  margin: 0 auto;
}

.sponsor{
  width: 30%;
  float: left;
  padding: 5%;
  color: #33475b;
}


.logallery{
  width: 60%;
  float: right;
  padding-top: 8%;
}

.cellogo{
  width: calc(100% / 4 - 0%);
  height: auto;
  float: left;
}


.cellogo img{
  width: 100px;
  height: auto;
  padding: 0 25%;
}

.sponsor span:first-child{
  font-size: 40px;
}

.sponsor p{
  line-height: 1.6;
  padding-top: 5%;
}

.sideleft{
  float: left;
  text-align: left;
}

.bttleft{
  margin: 30px 0;
}

.sideright img{
  float: right;
}
/* <!-- piè di pagina --> */
